<a href="https://colab.research.google.com/github/mkkim007/Hackathon-KaggleFestival/blob/main/mkkim/Restaurant_Visitor_Forecasting_EDA(weather).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!mkdir /content/data
!mkdir /content/Weather

In [3]:
!cp /content/gdrive/MyDrive/Data/recruit-restaurant-visitor-forecasting.zip /content/data

In [4]:
!unzip -qq /content/data/recruit-restaurant-visitor-forecasting.zip -d /content/data

In [5]:
!cp /content/gdrive/MyDrive/Data/recruit-restaurant-visitor-forecasting-weather.zip /content/Weather
!unzip -qq /content/Weather/recruit-restaurant-visitor-forecasting-weather.zip -d /content/Weather

In [6]:
import warnings
warnings.filterwarnings("ignore")

import time
import numpy as np
import pandas as pd
from dateutil.parser import parse
import datetime
from datetime import date, timedelta
from sklearn.preprocessing import LabelEncoder

import missingno as msno

import folium
from folium import plugins as folium_plugins
from folium import features


from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import KFold, cross_val_score
import xgboost as xgb
import lightgbm as lgb
from scipy.stats import norm #Analysis 
from scipy import stats #Analysis 
import scipy as sp
from sklearn.preprocessing import StandardScaler #Analysis 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
import gc

from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score , cross_validate

# 날씨 데이터

In [21]:
pd.set_option('display.expand_frame_repr', False)
warnings.simplefilter(action='ignore', category=FutureWarning)

weather_set_dir = '/content/Weather/'
weather_data_dir = '{}/1-1-16_5-31-17_Weather/1-1-16_5-31-17_Weather/'.format(weather_set_dir)
original_data_dir = '/content/data'

weather_columns = [
    'avg_temperature', 'high_temperature', 'low_temperature', 'precipitation',
    'hours_sunlight', 'solar_radiation', 'deepest_snowfall', 'total_snowfall', 'avg_wind_speed',
    'avg_vapor_pressure', 'avg_local_pressure', 'avg_humidity', 'avg_sea_pressure', 
    'cloud_cover'
]

In [8]:
air_store_info = pd.read_csv('{}/air_store_info_with_nearest_active_station.csv'.format(weather_set_dir))
hpg_store_info = pd.read_csv('{}/hpg_store_info_with_nearest_active_station.csv'.format(weather_set_dir))

air_station_distances = pd.read_csv('{}/air_station_distances.csv'.format(weather_set_dir))
hpg_station_distances = pd.read_csv('{}/hpg_station_distances.csv'.format(weather_set_dir))

weather_stations = pd.read_csv('{}/weather_stations.csv'.format(weather_set_dir))
nearby_active_stations = pd.read_csv('{}/nearby_active_stations.csv'.format(weather_set_dir))
feature_manifest = pd.read_csv('{}/feature_manifest.csv'.format(weather_set_dir))

기존에 있는 info와 날씨 데이터에 있는 info가 같은지 확인!

In [9]:
original_as_info = pd.read_csv('{}/air_store_info.csv.zip'.format(original_data_dir))
original_hs_info = pd.read_csv('{}/hpg_store_info.csv.zip'.format(original_data_dir))

display(original_as_info.head(5))
display(original_hs_info.head(5))

print('Air Equal: {}'.format(original_as_info.equals(air_store_info[original_as_info.columns])))
print('HPG Equal: {}'.format(original_hs_info.equals(hpg_store_info[original_hs_info.columns])))

           air_store_id  air_genre_name                 air_area_name   latitude   longitude
0  air_0f0cdeee6c9bf3d7  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
1  air_7cc17a324ae5c7dc  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
2  air_fee8dcf4d619598e  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
3  air_a17f0778617c76e2  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
4  air_83db5aff8f50478e  Italian/French  Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599

           hpg_store_id  hpg_genre_name                  hpg_area_name   latitude   longitude
0  hpg_6622b62385aec8bf  Japanese style  Tōkyō-to Setagaya-ku Taishidō  35.643675  139.668221
1  hpg_e9e068dd49c5fa00  Japanese style  Tōkyō-to Setagaya-ku Taishidō  35.643675  139.668221
2  hpg_2976f7acb4b3a3bc  Japanese style  Tōkyō-to Setagaya-ku Taishidō  35.643675  139.668221
3  hpg_e51a522e098f024c  Japanese style  Tōkyō-to Setagaya-ku Taishidō  35.643675  139.668221
4  hpg_e3d0e1519894f275  Japanese style  Tōkyō-to Setagaya-ku Taishidō  35.643675  139.668221

Air Equal: True
HPG Equal: True

In [26]:
air_nearest = pd.read_csv(                                                                                                                
        '{}air_store_info_with_nearest_active_station.csv'.format(weather_set_dir))                                                              
unique_air_store_ids = list(data.store_id.unique())
weather_keep_columns = ['precipitation', 'avg_temperature']
dataset_with_weather = data.copy()
for column in weather_keep_columns:                                                                                                       
    dataset_with_weather[column] = np.nan

In [27]:
dataset_with_weather

                    store_id  visit_date  visitors                               id  dow  air_genre_name                 air_area_name   latitude   longitude  air_area_name0  holiday_flg  holiday_flg2  precipitation  avg_temperature
0       air_ba937bf13d40fb24  2016-01-13  3.258097  air_ba937bf13d40fb24_2016-01-13    2               4  Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599               7            0             0            NaN              NaN
1       air_ba937bf13d40fb24  2016-01-14  3.496508  air_ba937bf13d40fb24_2016-01-14    3               4  Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599               7            0             0            NaN              NaN
2       air_ba937bf13d40fb24  2016-01-15  3.401197  air_ba937bf13d40fb24_2016-01-15    4               4  Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599               7            0             0            NaN              NaN
3       air_ba937bf13d40fb24  2016-01-16  3.135494  air_ba937bf13d40fb24_2016-01-16    5               4  Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599               7            0             1            NaN              NaN
4       air_ba937bf13d40fb24  2016-01-18  1.945910  air_ba937bf13d40fb24_2016-01-18    0               4  Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599               7            0             0            NaN              NaN
...                      ...         ...       ...                              ...  ...             ...                           ...        ...         ...             ...          ...           ...            ...              ...
284122  air_fff68b929994bfbd  2017-05-27  0.000000  air_fff68b929994bfbd_2017-05-27    5               1     Tōkyō-to Nakano-ku Nakano  35.708146  139.666288               7            0             1            NaN              NaN
284123  air_fff68b929994bfbd  2017-05-28  0.000000  air_fff68b929994bfbd_2017-05-28    6               1     Tōkyō-to Nakano-ku Nakano  35.708146  139.666288               7            0             1            NaN              NaN
284124  air_fff68b929994bfbd  2017-05-29  0.000000  air_fff68b929994bfbd_2017-05-29    0               1     Tōkyō-to Nakano-ku Nakano  35.708146  139.666288               7            0             0            NaN              NaN
284125  air_fff68b929994bfbd  2017-05-30  0.000000  air_fff68b929994bfbd_2017-05-30    1               1     Tōkyō-to Nakano-ku Nakano  35.708146  139.666288               7            0             0            NaN              NaN
284126  air_fff68b929994bfbd  2017-05-31  0.000000  air_fff68b929994bfbd_2017-05-31    2               1     Tōkyō-to Nakano-ku Nakano  35.708146  139.666288               7            0             0            NaN              NaN

[284127 rows x 14 columns]

In [44]:
print(len(air_nearest['air_store_id'].unique()))
print(len(data['store_id'].unique()))

829
829

In [50]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   visit_date          517 non-null    datetime64[ns]
 1   avg_temperature     517 non-null    float64
 2   high_temperature    517 non-null    float64
 3   low_temperature     517 non-null    float64
 4   precipitation       268 non-null    float64
 5   hours_sunlight      517 non-null    float64
 6   solar_radiation     517 non-null    float64
 7   deepest_snowfall    4 non-null      float64
 8   total_snowfall      1 non-null      float64
 9   avg_wind_speed      517 non-null    float64
 10  avg_vapor_pressure  516 non-null    float64
 11  avg_local_pressure  517 non-null    float64
 12  avg_humidity        516 non-null    float64
 13  avg_sea_pressure    517 non-null    float64
 14  cloud_cover         517 non-null    float64
dtypes: datetime64[ns](1), float64(14)
memory usage: 60.7 KB

In [40]:
for air_id in unique_air_store_ids:                                                                                                       
    station = air_nearest[air_nearest.air_store_id == air_id].station_id.iloc[0]

    weather_data = pd.read_csv(weather_data_dir + station + '.csv', parse_dates=['calendar_date']).rename(columns={'calendar_date': 'visit_date'})                                                                                                                                           
    data['visit_date'] = pd.to_datetime(data['visit_date'])                                                                                                                                          
    this_store = data.store_id == air_id 
    print( data[this_store]['visit_date'])
                                                                                              
    merged = data[this_store].merge(weather_data, on='visit_date', how='left')                                                         
                                                                                                                                              
    for column in weather_keep_columns:                                                                                                   
        dataset_with_weather.loc[this_store, column] = merged[column]

스트리밍 출력 내용이 길어서 마지막 5000줄이 삭제되었습니다.
125763   2016-01-09
            ...
262204   2017-05-27
262205   2017-05-28
262206   2017-05-29
262207   2017-05-30
262208   2017-05-31
Name: visit_date, Length: 411, dtype: datetime64[ns]
126131   2016-01-05
126132   2016-01-06
126133   2016-01-07
126134   2016-01-08
126135   2016-01-09
            ...
280885   2017-05-27
280886   2017-05-28
280887   2017-05-29
280888   2017-05-30
280889   2017-05-31
Name: visit_date, Length: 393, dtype: datetime64[ns]
126485   2016-07-01
126486   2016-07-02
126487   2016-07-03
126488   2016-07-04
126489   2016-07-05
            ...
265051   2017-05-27
265052   2017-05-28
265053   2017-05-29
265054   2017-05-30
265055   2017-05-31
Name: visit_date, Length: 281, dtype: datetime64[ns]
126727   2016-07-01
126728   2016-07-02
126729   2016-07-04
126730   2016-07-05
126731   2016-07-06
            ...
278896   2017-05-27
278897   2017-05-28
278898   2017-05-29
278899   2017-05-30
278900   2017-05-31
Name: visit_date, Length: 318, dtype: datetime64[ns]
127006   2016-07-01
127007   2016-07-02
127008   2016-07-03
127009   2016-07-04
127010   2016-07-06
            ...
280027   2017-05-27
280028   2017-05-28
280029   2017-05-29
280030   2017-05-30
280031   2017-05-31
Name: visit_date, Length: 321, dtype: datetime64[ns]
127288   2016-07-01
127289   2016-07-02
127290   2016-07-04
127291   2016-07-05
127292   2016-07-06
            ...
255496   2017-05-27
255497   2017-05-28
255498   2017-05-29
255499   2017-05-30
255500   2017-05-31
Name: visit_date, Length: 292, dtype: datetime64[ns]
127541   2016-01-05
127542   2016-01-06
127543   2016-01-07
127544   2016-01-08
127545   2016-01-09
            ...
274333   2017-05-27
274334   2017-05-28
274335   2017-05-29
274336   2017-05-30
274337   2017-05-31
Name: visit_date, Length: 438, dtype: datetime64[ns]
127940   2016-07-01
127941   2016-07-02
127942   2016-07-03
127943   2016-07-04
127944   2016-07-05
            ...
257485   2017-05-27
257486   2017-05-28
257487   2017-05-29
257488   2017-05-30
257489   2017-05-31
Name: visit_date, Length: 293, dtype: datetime64[ns]
128194   2016-07-01
128195   2016-07-02
128196   2016-07-03
128197   2016-07-04
128198   2016-07-05
            ...
281899   2017-05-27
281900   2017-05-28
281901   2017-05-29
281902   2017-05-30
281903   2017-05-31
Name: visit_date, Length: 321, dtype: datetime64[ns]
128476   2016-07-01
128477   2016-07-02
128478   2016-07-03
128479   2016-07-04
128480   2016-07-06
            ...
278974   2017-05-27
278975   2017-05-28
278976   2017-05-29
278977   2017-05-30
278978   2017-05-31
Name: visit_date, Length: 283, dtype: datetime64[ns]
128720   2016-01-05
128721   2016-01-06
128722   2016-01-07
128723   2016-01-08
128724   2016-01-09
            ...
264466   2017-05-27
264467   2017-05-28
264468   2017-05-29
264469   2017-05-30
264470   2017-05-31
Name: visit_date, Length: 447, dtype: datetime64[ns]
129128   2016-01-05
129129   2016-01-06
129130   2016-01-07
129131   2016-01-08
129132   2016-01-09
            ...
263101   2017-05-27
263102   2017-05-28
263103   2017-05-29
263104   2017-05-30
263105   2017-05-31
Name: visit_date, Length: 370, dtype: datetime64[ns]
129459   2016-01-08
129460   2016-01-09
129461   2016-01-10
129462   2016-01-12
129463   2016-01-13
            ...
256276   2017-05-27
256277   2017-05-28
256278   2017-05-29
256279   2017-05-30
256280   2017-05-31
Name: visit_date, Length: 415, dtype: datetime64[ns]
129835   2016-07-01
129836   2016-07-02
129837   2016-07-04
129838   2016-07-05
129839   2016-07-06
            ...
257329   2017-05-27
257330   2017-05-28
257331   2017-05-29
257332   2017-05-30
257333   2017-05-31
Name: visit_date, Length: 274, dtype: datetime64[ns]
130070   2016-07-01
130071   2016-07-02
130072   2016-07-03
130073   2016-07-04
130074   2016-07-07
            ...
270745   2017-05-27
270746   2017-05-28
270747   2017-05-29
270748   2017-05-30
270749   2017-05-31
Name: visit_date, Length: 261, dtype: datetime64[ns]
130292   2016-07-01
130293   2016-07-02
130294   2016-07-03
130295   2016-07-04
130296   2016-07-05
            ...
252883   2017-05-27
252884   2017-05-28
252885   2017-05-29
252886   2017-05-30
252887   2017-05-31
Name: visit_date, Length: 333, dtype: datetime64[ns]
130586   2016-01-04
130587   2016-01-05
130588   2016-01-06
130589   2016-01-07
130590   2016-01-08
            ...
265519   2017-05-27
265520   2017-05-28
265521   2017-05-29
265522   2017-05-30
265523   2017-05-31
Name: visit_date, Length: 500, dtype: datetime64[ns]
131047   2016-01-05
131048   2016-01-06
131049   2016-01-07
131050   2016-01-08
131051   2016-01-09
            ...
252766   2017-05-27
252767   2017-05-28
252768   2017-05-29
252769   2017-05-30
252770   2017-05-31
Name: visit_date, Length: 440, dtype: datetime64[ns]
131448   2016-07-01
131449   2016-07-02
131450   2016-07-03
131451   2016-07-04
131452   2016-07-06
            ...
258889   2017-05-27
258890   2017-05-28
258891   2017-05-29
258892   2017-05-30
258893   2017-05-31
Name: visit_date, Length: 305, dtype: datetime64[ns]
131714   2016-07-01
131715   2016-07-02
131716   2016-07-04
131717   2016-07-05
131718   2016-07-06
            ...
265558   2017-05-27
265559   2017-05-28
265560   2017-05-29
265561   2017-05-30
265562   2017-05-31
Name: visit_date, Length: 283, dtype: datetime64[ns]
131958   2016-01-01
131959   2016-01-02
131960   2016-01-03
131961   2016-01-04
131962   2016-01-05
            ...
281509   2017-05-27
281510   2017-05-28
281511   2017-05-29
281512   2017-05-30
281513   2017-05-31
Name: visit_date, Length: 458, dtype: datetime64[ns]
132377   2016-07-01
132378   2016-07-02
132379   2016-07-03
132380   2016-07-04
132381   2016-07-06
            ...
278272   2017-05-27
278273   2017-05-28
278274   2017-05-29
278275   2017-05-30
278276   2017-05-31
Name: visit_date, Length: 265, dtype: datetime64[ns]
132603   2016-07-01
132604   2016-07-02
132605   2016-07-03
132606   2016-07-04
132607   2016-07-05
            ...
259513   2017-05-27
259514   2017-05-28
259515   2017-05-29
259516   2017-05-30
259517   2017-05-31
Name: visit_date, Length: 288, dtype: datetime64[ns]
132852   2016-01-07
132853   2016-01-08
132854   2016-01-09
132855   2016-01-10
132856   2016-01-11
            ...
273865   2017-05-27
273866   2017-05-28
273867   2017-05-29
273868   2017-05-30
273869   2017-05-31
Name: visit_date, Length: 486, dtype: datetime64[ns]
133299   2016-07-01
133300   2016-07-02
133301   2016-07-04
133302   2016-07-05
133303   2016-07-06
            ...
269029   2017-05-27
269030   2017-05-28
269031   2017-05-29
269032   2017-05-30
269033   2017-05-31
Name: visit_date, Length: 261, dtype: datetime64[ns]
133521   2016-07-01
133522   2016-07-02
133523   2016-07-03
133524   2016-07-04
133525   2016-07-05
            ...
272734   2017-05-27
272735   2017-05-28
272736   2017-05-29
272737   2017-05-30
272738   2017-05-31
Name: visit_date, Length: 285, dtype: datetime64[ns]
133767   2016-01-05
133768   2016-01-06
133769   2016-01-09
133770   2016-01-10
133771   2016-01-11
            ...
252844   2017-05-27
252845   2017-05-28
252846   2017-05-29
252847   2017-05-30
252848   2017-05-31
Name: visit_date, Length: 368, dtype: datetime64[ns]
134096   2016-01-05
134097   2016-01-06
134098   2016-01-07
134099   2016-01-08
134100   2016-01-09
            ...
282211   2017-05-27
282212   2017-05-28
282213   2017-05-29
282214   2017-05-30
282215   2017-05-31
Name: visit_date, Length: 460, dtype: datetime64[ns]
134517   2016-01-04
134518   2016-01-05
134519   2016-01-06
134520   2016-01-07
134521   2016-01-08
            ...
263296   2017-05-27
263297   2017-05-28
263298   2017-05-29
263299   2017-05-30
263300   2017-05-31
Name: visit_date, Length: 454, dtype: datetime64[ns]
134932   2016-07-01
134933   2016-07-02
134934   2016-07-03
134935   2016-07-04
134936   2016-07-05
            ...
275815   2017-05-27
275816   2017-05-28
275817   2017-05-29
275818   2017-05-30
275819   2017-05-31
Name: visit_date, Length: 334, dtype: datetime64[ns]
135227   2016-07-01
135228   2016-07-02
135229   2016-07-04
135230   2016-07-05
135231   2016-07-06
            ...
272188   2017-05-27
272189   2017-05-28
272190   2017-05-29
272191   2017-05-30
272192   2017-05-31
Name: visit_date, Length: 280, dtype: datetime64[ns]
135468   2016-07-01
135469   2016-07-02
135470   2016-07-03
135471   2016-07-04
135472   2016-07-05
            ...
281587   2017-05-27
281588   2017-05-28
281589   2017-05-29
281590   2017-05-30
281591   2017-05-31
Name: visit_date, Length: 278, dtype: datetime64[ns]
135707   2016-07-01
135708   2016-07-02
135709   2016-07-03
135710   2016-07-05
135711   2016-07-06
            ...
277843   2017-05-27
277844   2017-05-28
277845   2017-05-29
277846   2017-05-30
277847   2017-05-31
Name: visit_date, Length: 304, dtype: datetime64[ns]
135972   2016-07-01
135973   2016-07-03
135974   2016-07-05
135975   2016-07-06
135976   2016-07-07
            ...
274879   2017-05-27
274880   2017-05-28
274881   2017-05-29
274882   2017-05-30
274883   2017-05-31
Name: visit_date, Length: 281, dtype: datetime64[ns]
136214   2016-01-05
136215   2016-01-06
136216   2016-01-07
136217   2016-01-08
136218   2016-01-09
            ...
259630   2017-05-27
259631   2017-05-28
259632   2017-05-29
259633   2017-05-30
259634   2017-05-31
Name: visit_date, Length: 436, dtype: datetime64[ns]
136611   2016-07-01
136612   2016-07-02
136613   2016-07-03
136614   2016-07-05
136615   2016-07-06
            ...
256822   2017-05-27
256823   2017-05-28
256824   2017-05-29
256825   2017-05-30
256826   2017-05-31
Name: visit_date, Length: 292, dtype: datetime64[ns]
136864   2016-07-01
136865   2016-07-02
136866   2016-07-04
136867   2016-07-05
136868   2016-07-06
            ...
281236   2017-05-27
281237   2017-05-28
281238   2017-05-29
281239   2017-05-30
281240   2017-05-31
Name: visit_date, Length: 277, dtype: datetime64[ns]
137102   2016-07-01
137103   2016-07-02
137104   2016-07-03
137105   2016-07-05
137106   2016-07-06
            ...
273982   2017-05-27
273983   2017-05-28
273984   2017-05-29
273985   2017-05-30
273986   2017-05-31
Name: visit_date, Length: 262, dtype: datetime64[ns]
137325   2016-07-01
137326   2016-07-02
137327   2016-07-03
137328   2016-07-04
137329   2016-07-05
            ...
271993   2017-05-27
271994   2017-05-28
271995   2017-05-29
271996   2017-05-30
271997   2017-05-31
Name: visit_date, Length: 318, dtype: datetime64[ns]
137604   2016-07-01
137605   2016-07-02
137606   2016-07-04
137607   2016-07-05
137608   2016-07-07
            ...
282523   2017-05-27
282524   2017-05-28
282525   2017-05-29
282526   2017-05-30
282527   2017-05-31
Name: visit_date, Length: 306, dtype: datetime64[ns]
137871   2016-07-01
137872   2016-07-02
137873   2016-07-03
137874   2016-07-05
137875   2016-07-07
            ...
276166   2017-05-27
276167   2017-05-28
276168   2017-05-29
276169   2017-05-30
276170   2017-05-31
Name: visit_date, Length: 265, dtype: datetime64[ns]
138097   2016-07-01
138098   2016-07-02
138099   2016-07-03
138100   2016-07-04
138101   2016-07-05
            ...
260254   2017-05-27
260255   2017-05-28
260256   2017-05-29
260257   2017-05-30
260258   2017-05-31
Name: visit_date, Length: 288, dtype: datetime64[ns]
138346   2016-01-04
138347   2016-01-05
138348   2016-01-06
138349   2016-01-07
138350   2016-01-08
            ...
254248   2017-05-27
254249   2017-05-28
254250   2017-05-29
254251   2017-05-30
254252   2017-05-31
Name: visit_date, Length: 232, dtype: datetime64[ns]
138539   2016-07-01
138540   2016-07-02
138541   2016-07-03
138542   2016-07-04
138543   2016-07-05
            ...
267508   2017-05-27
267509   2017-05-28
267510   2017-05-29
267511   2017-05-30
267512   2017-05-31
Name: visit_date, Length: 325, dtype: datetime64[ns]
138825   2016-01-06
138826   2016-01-07
138827   2016-01-08
138828   2016-01-09
138829   2016-01-10
            ...
265246   2017-05-27
265247   2017-05-28
265248   2017-05-29
265249   2017-05-30
265250   2017-05-31
Name: visit_date, Length: 419, dtype: datetime64[ns]
139205   2016-01-05
139206   2016-01-06
139207   2016-01-07
139208   2016-01-08
139209   2016-01-09
            ...
254911   2017-05-27
254912   2017-05-28
254913   2017-05-29
254914   2017-05-30
254915   2017-05-31
Name: visit_date, Length: 499, dtype: datetime64[ns]
139665   2016-01-01
139666   2016-01-02
139667   2016-01-03
139668   2016-01-04
139669   2016-01-05
            ...
256627   2017-05-27
256628   2017-05-28
256629   2017-05-29
256630   2017-05-30
256631   2017-05-31
Name: visit_date, Length: 481, dtype: datetime64[ns]
140107   2016-01-09
140108   2016-01-10
140109   2016-01-11
140110   2016-01-13
140111   2016-01-14
            ...
265714   2017-05-27
265715   2017-05-28
265716   2017-05-29
265717   2017-05-30
265718   2017-05-31
Name: visit_date, Length: 369, dtype: datetime64[ns]
140437   2016-07-01
140438   2016-07-02
140439   2016-07-03
140440   2016-07-04
140441   2016-07-05
            ...
266572   2017-05-27
266573   2017-05-28
266574   2017-05-29
266575   2017-05-30
266576   2017-05-31
Name: visit_date, Length: 297, dtype: datetime64[ns]
140695   2016-01-04
140696   2016-01-05
140697   2016-01-06
140698   2016-01-07
140699   2016-01-08
            ...
270004   2017-05-27
270005   2017-05-28
270006   2017-05-29
270007   2017-05-30
270008   2017-05-31
Name: visit_date, Length: 417, dtype: datetime64[ns]
141073   2016-07-01
141074   2016-07-02
141075   2016-07-03
141076   2016-07-04
141077   2016-07-05
            ...
257368   2017-05-27
257369   2017-05-28
257370   2017-05-29
257371   2017-05-30
257372   2017-05-31
Name: visit_date, Length: 329, dtype: datetime64[ns]
141363   2016-01-04
141364   2016-01-05
141365   2016-01-06
141366   2016-01-07
141367   2016-01-08
            ...
252922   2017-05-27
252923   2017-05-28
252924   2017-05-29
252925   2017-05-30
252926   2017-05-31
Name: visit_date, Length: 419, dtype: datetime64[ns]
141743   2016-01-04
141744   2016-01-05
141745   2016-01-06
141746   2016-01-07
141747   2016-01-08
            ...
282991   2017-05-27
282992   2017-05-28
282993   2017-05-29
282994   2017-05-30
282995   2017-05-31
Name: visit_date, Length: 509, dtype: datetime64[ns]
142213   2016-01-01
142214   2016-01-02
142215   2016-01-03
142216   2016-01-08
142217   2016-01-09
            ...
266962   2017-05-27
266963   2017-05-28
266964   2017-05-29
266965   2017-05-30
266966   2017-05-31
Name: visit_date, Length: 452, dtype: datetime64[ns]
142626   2016-07-01
142627   2016-07-02
142628   2016-07-03
142629   2016-07-04
142630   2016-07-05
            ...
259357   2017-05-27
259358   2017-05-28
259359   2017-05-29
259360   2017-05-30
259361   2017-05-31
Name: visit_date, Length: 311, dtype: datetime64[ns]
142898   2016-07-01
142899   2016-07-02
142900   2016-07-05
142901   2016-07-06
142902   2016-07-07
            ...
260293   2017-05-27
260294   2017-05-28
260295   2017-05-29
260296   2017-05-30
260297   2017-05-31
Name: visit_date, Length: 261, dtype: datetime64[ns]
143120   2016-07-01
143121   2016-07-02
143122   2016-07-03
143123   2016-07-04
143124   2016-07-06
            ...
252649   2017-05-27
252650   2017-05-28
252651   2017-05-29
252652   2017-05-30
252653   2017-05-31
Name: visit_date, Length: 326, dtype: datetime64[ns]
143407   2016-01-05
143408   2016-01-06
143409   2016-01-07
143410   2016-01-08
143411   2016-01-09
            ...
261190   2017-05-27
261191   2017-05-28
261192   2017-05-29
261193   2017-05-30
261194   2017-05-31
Name: visit_date, Length: 508, dtype: datetime64[ns]
143876   2016-01-04
143877   2016-01-05
143878   2016-01-06
143879   2016-01-07
143880   2016-01-08
            ...
259864   2017-05-27
259865   2017-05-28
259866   2017-05-29
259867   2017-05-30
259868   2017-05-31
Name: visit_date, Length: 414, dtype: datetime64[ns]
144251   2016-07-01
144252   2016-07-02
144253   2016-07-03
144254   2016-07-04
144255   2016-07-06
            ...
257407   2017-05-27
257408   2017-05-28
257409   2017-05-29
257410   2017-05-30
257411   2017-05-31
Name: visit_date, Length: 282, dtype: datetime64[ns]
144494   2016-07-01
144495   2016-07-02
144496   2016-07-03
144497   2016-07-04
144498   2016-07-05
            ...
260176   2017-05-27
260177   2017-05-28
260178   2017-05-29
260179   2017-05-30
260180   2017-05-31
Name: visit_date, Length: 331, dtype: datetime64[ns]
144786   2016-07-01
144787   2016-07-02
144788   2016-07-03
144789   2016-07-04
144790   2016-07-06
            ...
272305   2017-05-27
272306   2017-05-28
272307   2017-05-29
272308   2017-05-30
272309   2017-05-31
Name: visit_date, Length: 256, dtype: datetime64[ns]
145003   2016-01-05
145004   2016-01-06
145005   2016-01-07
145006   2016-01-08
145007   2016-01-09
            ...
264310   2017-05-27
264311   2017-05-28
264312   2017-05-29
264313   2017-05-30
264314   2017-05-31
Name: visit_date, Length: 426, dtype: datetime64[ns]
145390   2016-07-01
145391   2016-07-02
145392   2016-07-03
145393   2016-07-04
145394   2016-07-05
            ...
277219   2017-05-27
277220   2017-05-28
277221   2017-05-29
277222   2017-05-30
277223   2017-05-31
Name: visit_date, Length: 280, dtype: datetime64[ns]
145631   2016-01-02
145632   2016-01-03
145633   2016-01-04
145634   2016-01-05
145635   2016-01-07
            ...
276478   2017-05-27
276479   2017-05-28
276480   2017-05-29
276481   2017-05-30
276482   2017-05-31
Name: visit_date, Length: 493, dtype: datetime64[ns]
146085   2016-07-01
146086   2016-07-02
146087   2016-07-04
146088   2016-07-05
146089   2016-07-06
            ...
270979   2017-05-27
270980   2017-05-28
270981   2017-05-29
270982   2017-05-30
270983   2017-05-31
Name: visit_date, Length: 270, dtype: datetime64[ns]
146316   2016-07-01
146317   2016-07-02
146318   2016-07-05
146319   2016-07-06
146320   2016-07-07
            ...
268522   2017-05-27
268523   2017-05-28
268524   2017-05-29
268525   2017-05-30
268526   2017-05-31
Name: visit_date, Length: 304, dtype: datetime64[ns]
146581   2016-07-01
146582   2016-07-02
146583   2016-07-03
146584   2016-07-04
146585   2016-07-05
            ...
253234   2017-05-27
253235   2017-05-28
253236   2017-05-29
253237   2017-05-30
253238   2017-05-31
Name: visit_date, Length: 279, dtype: datetime64[ns]
146821   2016-07-01
146822   2016-07-02
146823   2016-07-03
146824   2016-07-04
146825   2016-07-07
            ...
274060   2017-05-27
274061   2017-05-28
274062   2017-05-29
274063   2017-05-30
274064   2017-05-31
Name: visit_date, Length: 256, dtype: datetime64[ns]
147038   2016-07-01
147039   2016-07-02
147040   2016-07-04
147041   2016-07-05
147042   2016-07-06
            ...
277726   2017-05-27
277727   2017-05-28
277728   2017-05-29
277729   2017-05-30
277730   2017-05-31
Name: visit_date, Length: 279, dtype: datetime64[ns]
147278   2016-01-04
147279   2016-01-05
147280   2016-01-06
147281   2016-01-07
147282   2016-01-08
            ...
261775   2017-05-27
261776   2017-05-28
261777   2017-05-29
261778   2017-05-30
261779   2017-05-31
Name: visit_date, Length: 409, dtype: datetime64[ns]
147648   2016-07-01
147649   2016-07-02
147650   2016-07-03
147651   2016-07-04
147652   2016-07-05
            ...
280690   2017-05-27
280691   2017-05-28
280692   2017-05-29
280693   2017-05-30
280694   2017-05-31
Name: visit_date, Length: 162, dtype: datetime64[ns]
147771   2016-07-01
147772   2016-07-02
147773   2016-07-03
147774   2016-07-04
147775   2016-07-05
            ...
283537   2017-05-27
283538   2017-05-28
283539   2017-05-29
283540   2017-05-30
283541   2017-05-31
Name: visit_date, Length: 173, dtype: datetime64[ns]
147905   2016-07-01
147906   2016-07-04
147907   2016-07-05
147908   2016-07-06
147909   2016-07-07
            ...
261424   2017-05-27
261425   2017-05-28
261426   2017-05-29
261427   2017-05-30
261428   2017-05-31
Name: visit_date, Length: 267, dtype: datetime64[ns]
148133   2016-07-01
148134   2016-07-02
148135   2016-07-03
148136   2016-07-05
148137   2016-07-06
            ...
148207   2016-09-28

In [48]:
dataset_with_weather['precipitation']=dataset_with_weather['precipitation'].fillna(0)

In [49]:
dataset_with_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284127 entries, 0 to 284126
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   store_id         284127 non-null  object
 1   visit_date       284127 non-null  object
 2   visitors         284127 non-null  float64
 3   id               284127 non-null  object
 4   dow              284127 non-null  int64
 5   air_genre_name   284127 non-null  int64
 6   air_area_name    284127 non-null  object
 7   latitude         284127 non-null  float64
 8   longitude        284127 non-null  float64
 9   air_area_name0   284127 non-null  int64
 10  holiday_flg      284127 non-null  int64
 11  holiday_flg2     284127 non-null  int64
 12  precipitation    284127 non-null  float64
 13  avg_temperature  391 non-null     float64
dtypes: float64(5), int64(5), object(4)
memory usage: 32.5+ MB

In [34]:
def add_weather(dataset):                                                                                                                     
    print('Adding weather...')                                                                                                                
    air_nearest = pd.read_csv(                                                                                                                
        '{}air_store_info_with_nearest_active_station.csv'.format(weather_set_dir))                                                              
    unique_air_store_ids = list(dataset.store_id.unique())                                                                                
                                                                                                                                                                                                            
    weather_keep_columns = ['precipitation', 'avg_temperature']                                                                                                                                   
                                                                                                                                              
    dataset_with_weather = dataset.copy()                                                                                                     
    for column in weather_keep_columns:                                                                                                       
        dataset_with_weather[column] = np.nan                                                                                                 
                                                                                                                                              
    for air_id in unique_air_store_ids:                                                                                                       
        station = air_nearest[air_nearest.air_store_id == air_id].station_id.iloc[0]                                                          
        weather_data = pd.read_csv(weather_data_dir + station + '.csv', parse_dates=['calendar_date']).rename(columns={'calendar_date': 'visit_date'})   
                                                                                                                                              
        this_store = dataset.store_id == air_id 
                                                                                                  
        merged = dataset[this_store].merge(weather_data, on='visit_date', how='left')                                                         
                                                                                                                                              
        for column in weather_keep_columns:                                                                                                   
            dataset_with_weather.loc[this_store, column] = merged[column]                                                                     
    return dataset_with_weather                                                                                                               
                                                                                                                                              
data = add_weather(data)

Adding weather...

ValueError: ignored

---

In [15]:
data_path = '/content/data/'
air_reserve = pd.read_csv(data_path + 'air_reserve.csv.zip').rename(columns={'air_store_id':'store_id'})
hpg_reserve = pd.read_csv(data_path + 'hpg_reserve.csv.zip').rename(columns={'hpg_store_id':'store_id'})
air_store = pd.read_csv(data_path + 'air_store_info.csv.zip').rename(columns={'air_store_id':'store_id'})
hpg_store = pd.read_csv(data_path + 'hpg_store_info.csv.zip').rename(columns={'hpg_store_id':'store_id'})
air_visit = pd.read_csv(data_path + 'air_visit_data.csv.zip').rename(columns={'air_store_id':'store_id'})
store_id_map = pd.read_csv(data_path + 'store_id_relation.csv.zip').set_index('hpg_store_id',drop=False)
date_info = pd.read_csv(data_path + 'date_info.csv.zip').rename(columns={'calendar_date': 'visit_date'}).drop('day_of_week',axis=1)
submission = pd.read_csv(data_path + 'sample_submission.csv.zip')

In [16]:
submission['visit_date'] = submission['id'].str[-10:]
submission['store_id'] = submission['id'].str[:-11]
air_reserve['visit_date'] = air_reserve['visit_datetime'].str[:10]
air_reserve['reserve_date'] = air_reserve['reserve_datetime'].str[:10]
air_reserve['dow'] = pd.to_datetime(air_reserve['visit_date']).dt.dayofweek
hpg_reserve['visit_date'] = hpg_reserve['visit_datetime'].str[:10]
hpg_reserve['reserve_date'] = hpg_reserve['reserve_datetime'].str[:10]
hpg_reserve['dow'] = pd.to_datetime(hpg_reserve['visit_date']).dt.dayofweek
air_visit['id'] = air_visit['store_id'] + '_' + air_visit['visit_date']
hpg_reserve['store_id'] = hpg_reserve['store_id'].map(store_id_map['air_store_id']).fillna(hpg_reserve['store_id'])
hpg_store['store_id'] = hpg_store['store_id'].map(store_id_map['air_store_id']).fillna(hpg_store['store_id'])
hpg_store.rename(columns={'hpg_genre_name':'air_genre_name','hpg_area_name':'air_area_name'},inplace=True)
data = pd.concat([air_visit, submission]).copy()
data['dow'] = pd.to_datetime(data['visit_date']).dt.dayofweek
date_info['holiday_flg2'] = pd.to_datetime(date_info['visit_date']).dt.dayofweek
date_info['holiday_flg2'] = ((date_info['holiday_flg2']>4) | (date_info['holiday_flg']==1)).astype(int)

air_store['air_area_name0'] = air_store['air_area_name'].apply(lambda x: x.split(' ')[0])

lbl = LabelEncoder()
air_store['air_genre_name'] = lbl.fit_transform(air_store['air_genre_name'])
air_store['air_area_name0'] = lbl.fit_transform(air_store['air_area_name0'])

data['visitors'] = np.log1p(data['visitors'])
data = data.merge(air_store,on='store_id',how='left')
data = data.merge(date_info[['visit_date','holiday_flg','holiday_flg2']], on=['visit_date'],how='left')

In [ ]:
air_store['air_area_name1'] = air_store['air_area_name'].apply(lambda x: ' '.join(x.split(' ')[:2]))
air_store['air_area_name1'] = lbl.fit_transform(air_store['air_area_name1'])
len(pd.unique(air_store['air_area_name1']))

55

In [ ]:
air_store[['store_id','air_area_name1']]
data = data.merge(air_store[['store_id','air_area_name1']],on='store_id',how='left')

In [ ]:
data['month'] = pd.to_datetime(data['visit_date']).dt.month

In [ ]:
data['expansion_after'] =((pd.to_datetime(data['visit_date']).dt.year >= 2016) | (pd.to_datetime(data['visit_date']).dt.month >= 7)).astype(int)

In [ ]:
data.tail()

                    store_id  visit_date  ...  month expansion_after
284122  air_fff68b929994bfbd  2017-05-27  ...      5               1
284123  air_fff68b929994bfbd  2017-05-28  ...      5               1
284124  air_fff68b929994bfbd  2017-05-29  ...      5               1
284125  air_fff68b929994bfbd  2017-05-30  ...      5               1
284126  air_fff68b929994bfbd  2017-05-31  ...      5               1

[5 rows x 15 columns]

#1. data 정제하기

In [ ]:
train_size = len(air_visit)
test = data[train_size:]

restaurant = data.drop("latitude", axis=1).copy()
restaurant.drop("longitude", axis=1, inplace=True)
restaurant.drop("visit_date", axis=1, inplace=True)
restaurant.drop("id", axis=1, inplace=True)
restaurant.drop("store_id", axis=1, inplace=True)
restaurant.drop("air_area_name", axis=1, inplace=True)
restaurant.drop("air_area_name0", axis=1, inplace=True)


train_data = restaurant[:train_size]
test_data = restaurant[train_size:]



y_train = train_data["visitors"].copy()
X_train=train_data.drop("visitors", axis=1).copy() 

X_test = test_data.drop("visitors", axis=1)

In [ ]:
X_train

        dow  air_genre_name  ...  month  expansion_after
0         2               4  ...      1                1
1         3               4  ...      1                1
2         4               4  ...      1                1
3         5               4  ...      1                1
4         0               4  ...      1                1
...     ...             ...  ...    ...              ...
252103    1              11  ...      4                1
252104    2              11  ...      4                1
252105    3              11  ...      4                1
252106    4              11  ...      4                1
252107    5              11  ...      4                1

[252108 rows x 7 columns]

# 2. Train

## 2.1 Gradient Boosting

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
GBR = GradientBoostingRegressor(learning_rate=0.2, random_state=3, n_estimators=200, subsample=0.8, max_depth =10)
GBR.fit(X_train, y_train)

predict=GBR.predict(X_test) # 0.7361

In [ ]:
print('교차 검증별 정확도:',np.round(scores, 4))
print('평균 검증 정확도:', np.round(np.mean(scores), 4))

교차 검증별 정확도: [nan nan nan nan nan]
평균 검증 정확도: nan

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
KNR = KNeighborsRegressor(n_jobs=-1, n_neighbors=4)
KNR.fit(X_train, y_train)

predict=KNR.predict(X_test) # 0.82510

In [ ]:
from xgboost import XGBRegressor
XGB = XGBRegressor(learning_rate=0.2, random_state=3, n_estimators=280, subsample=0.8, 
                      colsample_bytree=0.8, max_depth =12)
XGB.fit(X_train, y_train)
predict=XGB.predict(X_test) # 0.7368

[05:35:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
from sklearn.model_selection import cross_val_score, KFold
scores = cross_val_score(dt_clf , data , label , scoring='accuracy',cv=3)

In [ ]:
import lightgbm as lgb
lgb_train = lgb.Dataset(X_train, y_train)
test
params = {
    
}
params['learning_rate'] = 0.003
params['boosting_type'] = 'gbdt'
params['objective'] = 'regression'
params['metric'] = 'mse'
params['sub_feature'] = 0.5
params['num_leaves'] = 10
params['min_data'] = 50
params['max_depth'] = 10
gbm = lgb.train(params,lgb_train,2300)
predict = gbm.predict(X_test)  #0.78211

# 그리드 서치

In [ ]:
from lightgbm import LGBMRegressor
from sklearn.model_selection import GridSearchCV
LGBM = LGBMRegressor()
param_grid = {
    'learning rate': [1,0.1, 0.001, 0.003],
    'boosting_type': ['gbdt', 'rf'],
    'max_bin' : [10, 100, 100],
    'num_leaves': [10, 31, 127],
    
    
}
gbm = GridSearchCV(estimator=clf, param_grid=param_grid)
gbm.fit(X_train, y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=LGBMRegressor(boosting_type='gbdt', class_weight=None,
                                     colsample_bytree=1.0,
                                     importance_type='split', learning_rate=0.1,
                                     max_depth=-1, min_child_samples=20,
                                     min_child_weight=0.001, min_split_gain=0.0,
                                     n_estimators=100, n_jobs=-1, num_leaves=31,
                                     objective=None, random_state=None,
                                     reg_alpha=0.0, reg_lambda=0.0, silent=True,
                                     subsample=1.0, subsample_for_bin=200000,
                                     subsample_freq=0),
             iid='deprecated', n_jobs=None,
             param_grid={'boosting_type': ['gbdt', 'rf'],
                         'learning rate': [0.1, 0.001, 0.003],
                         'max_bin': [10, 100, 100],
                         'num_leaves': [10, 31, 127]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
print('best parameters : ', gbm.best_params_)
print('best score : ', gbm.best_score_)

best parameters :  {'boosting_type': 'gbdt', 'learning rate': 0.1, 'max_bin': 10, 'num_leaves': 10}
best score :  0.054162385346636824

In [ ]:
LGBM=gbm.best_estimator_
predict = gbm.predict(X_test)  #0.78389

# 3. submission

In [ ]:
predict

array([2.98269092, 2.7670509 , 2.84917391, ..., 2.04262467, 2.14783666,
       2.18055248])

In [ ]:
test['visitors'] = predict
test['visitors'] = np.expm1(test['visitors']).clip(lower=0.)
test

                    store_id  visit_date  ...  month expansion_after
252108  air_00a91d42b08b08d9  2017-04-23  ...      4               1
252109  air_00a91d42b08b08d9  2017-04-24  ...      4               1
252110  air_00a91d42b08b08d9  2017-04-25  ...      4               1
252111  air_00a91d42b08b08d9  2017-04-26  ...      4               1
252112  air_00a91d42b08b08d9  2017-04-27  ...      4               1
...                      ...         ...  ...    ...             ...
284122  air_fff68b929994bfbd  2017-05-27  ...      5               1
284123  air_fff68b929994bfbd  2017-05-28  ...      5               1
284124  air_fff68b929994bfbd  2017-05-29  ...      5               1
284125  air_fff68b929994bfbd  2017-05-30  ...      5               1
284126  air_fff68b929994bfbd  2017-05-31  ...      5               1

[32019 rows x 15 columns]

In [ ]:
sub = test[['id','visitors']].copy()
sub.to_csv('submission.csv', index=False)

In [ ]:
import lightgbm as lgb
def lightgbm(data):
    train_size = len(air_visit)
    test = data[train_size:]

    restaurant = data.drop("latitude", axis=1).copy()
    restaurant.drop("longitude", axis=1, inplace=True)
    restaurant.drop("visit_date", axis=1, inplace=True)
    restaurant.drop("id", axis=1, inplace=True)
    restaurant.drop("store_id", axis=1, inplace=True)
    restaurant.drop("air_area_name", axis=1, inplace=True)
    restaurant.drop("air_area_name0", axis=1, inplace=True)

    train_data = restaurant[:train_size]
    test_data = restaurant[train_size:]

    y_train = train_data["visitors"].copy()
    X_train=train_data.drop("visitors", axis=1).copy() 

    X_test = test_data.drop("visitors", axis=1)
    
    lgb_train = lgb.Dataset(X_train, y_train)

    params = {}
    params['learning_rate'] = 0.003
    params['boosting_type'] = 'gbdt'
    params['objective'] = 'regression'
    params['metric'] = 'mse'
    params['sub_feature'] = 0.5
    params['num_leaves'] = 10
    params['min_data'] = 50
    params['max_depth'] = 10
    gbm = lgb.train(params,lgb_train,2300)
    predict = gbm.predict(X_test)  #0.78211
    test['visitors'] = predict
    test['visitors'] = np.expm1(test['visitors']).clip(lower=0.)
    sub = test[['id','visitors']].copy()
    sub.to_csv('submission.csv', index=False)

In [ ]:
lightgbm(data)